.cart {
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 400px;
  max-height: 70vh;
  background-color: rgb(251, 246, 233);
  color: black;
  overflow: auto;
  padding: 1rem 2rem;
  z-index: 3;
}

.cart-total {
  margin: 2rem 0;
  position: fixed;
  bottom: 0;
  right: 4rem;
  background-color: rgb(251, 246, 233);
  color: black;
  padding: 1rem;
  width: 400px;
  max-height: 15vh;
}

.cart h2 {
  font-size: clamp(1.75rem, 6vw, 2.5rem);
  font-weight: 900;
  padding-bottom: .5rem;
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: black;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  cursor: pointer;
  background-color: var(--secondary);
  margin-top: 4px;
  border-bottom: solid transparent 4px;
  text-transform: uppercase;
}

.cart-closed:hover {
  border-bottom: solid rgb(253, 243, 212) 4px;
}

.cart-closed:active {
  color: rgb(100, 100, 100);
  border-bottom: solid rgb(100, 100, 100) 4px;
}

.cart-product img {
  height: 200px;
  width: auto;
  margin: 1rem 0;
}

.cart input {
  width: 50px;
  text-align: center;
  margin: 0 1rem;
}

.inform-login {
  font-size: 25px;
  font-weight: 700;
}

.remove-item {
  font-size: 25px;
}

.remove-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkout-btn {
  background-color: rgb(25 25 25);
  color: rgb(253, 243, 212);
  padding: .5rem 2rem;
  border-radius: 2rem;
  margin-top: .75rem;
  border: none;
}

.checkout-btn:hover {
  background-color: rgb(63, 63, 63);
  cursor: pointer;
}

.checkout-btn:active {
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.item-quantity input {
  width: 60px;
  padding: 0;
}


@media screen and (max-width: 530px) {
  .cart {
    width: 85vw;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
  }
  .cart-total {
    width: 85vw;
    right: 2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .cart-total {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .checkout-btn {
    margin-top: 0;
    padding: .5rem 1.5rem;
  }
  .cart-total span {
    font-size: 25px;
  }
  .cart-total p {
    display: flex;
    flex-direction: column;
  }
  .remove-item {
    font-size: 20px;
  }
}